# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - appweb11

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: cont11.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_E74D353045F44806B1DED39CD66F03E1 }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_847DEFAB141D43F9A090D578F64C2017 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: cont11.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_E74D353045F44806B1DED39CD66F03E1 }}/imagen:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    
    needs: build
    
    steps:
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'appweb11'
          slot-name: 'Production'
          images: 'cont11.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_E74D353045F44806B1DED39CD66F03E1 }}/imagen:${{ github.sha }}'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_4D9A6B238F274AE3BA5A6E81A3DA5737 }}