# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - app11

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: cont22.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_5F580634DA2D4EC98D9F80CA350F4FDB }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_1BBB02DFCABF4DC59F39823FBDB43783 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: cont22.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_5F580634DA2D4EC98D9F80CA350F4FDB }}/imagen1:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    
    needs: build
    
    steps:
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'app11'
          slot-name: 'Production'
          images: 'cont22.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_5F580634DA2D4EC98D9F80CA350F4FDB }}/imagen1:${{ github.sha }}'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_840D1D7BE7AE4A2BAF66865B68D77EDE }}