# Docs for the Azure Web Apps Deploy action: https://github.com/Azure/webapps-deploy
# More GitHub Actions for Azure: https://github.com/Azure/actions

name: Build and deploy container app to Azure Web App - appweb

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read #This is required for actions/checkout

    steps:
      - uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to container registry
        uses: docker/login-action@v2
        with:
          registry: conte.azurecr.io/
          username: ${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_EBDD443031334865A12428579E2492AF }}
          password: ${{ secrets.AZUREAPPSERVICE_CONTAINERPASSWORD_88F7D6E88A1C4D7884D4CE509E3CA8B2 }}

      - name: Build and push container image to registry
        uses: docker/build-push-action@v3
        with:
          context: .
          push: true
          tags: conte.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_EBDD443031334865A12428579E2492AF }}/imagen:${{ github.sha }}
          file: ./Dockerfile

  deploy:
    runs-on: ubuntu-latest
    
    needs: build
    
    steps:
      
      - name: Deploy to Azure Web App
        id: deploy-to-webapp
        uses: azure/webapps-deploy@v2
        with:
          app-name: 'appweb'
          slot-name: 'Production'
          images: 'conte.azurecr.io/${{ secrets.AZUREAPPSERVICE_CONTAINERUSERNAME_EBDD443031334865A12428579E2492AF }}/imagen:${{ github.sha }}'
          publish-profile: ${{ secrets.AZUREAPPSERVICE_PUBLISHPROFILE_4DEE16F6335F42389F619740FBB7D0F7 }}